ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

p {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

body {
    font-family: Roboto, Hevetica, sans-serif;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 300;
    font-style: normal;
    line-height: 1.42;
    font-size: 18px;
    color: #000;
}

.wrapper {
    overflow: hidden;
    min-width: 1100px;
    min-height: 100%;
}

.wrapper_page {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(./img2/fonfirstpage.png) center center / cover no-repeat;
}

.welcome {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.welcome__logo {
    margin-bottom: 20px;
}

.welcome__link {
    display: block;
    padding: 13px 20px;
    border: solid 1px #1c5bc4;
    color: #1c5bc4;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2.4px;
}

.welcome_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: bounce 1s 2s;
}

@keyframes bounce {
    from,
    20%,
    53%,
    80%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    40%,
    43% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        -webkit-transform: translate3d(0, -30px, 0);
        transform: translate3d(0, -30px, 0);
    }
    70% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        -webkit-transform: translate3d(0, -15px, 0);
        transform: translate3d(0, -15px, 0);
    }
    90% {
        -webkit-transform: translate3d(0, -4px, 0);
        transform: translate3d(0, -4px, 0);
    }
}

.bounce {
    -webkit-animation-name: bounce;
    animation-name: bounce;
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
}

.header {
    background-color: #4b73b5;
    margin-bottom: 20px;
    min-height: 77px;
}

.container {
    width: 1180px;
    margin: 0 auto;
    display: flex;
}

.header .container {
    height: 77px;
    justify-content: space-between;
    align-items: center;
}

.header-contacts {
    text-align: right;
}

.header-contacts__phone {
    color: #ffffff;
    font-size: 21px;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
}

.header-contacts__time {
    display: block;
    position: relative;
    cursor: pointer;
}

.header-contacts__time-link {
    color: #ffffff;
    opacity: 0.7;
    transition: opacity 0.7s;
    display: block;
    font-size: 14px;
    font-weight: 700;
    padding-top: 5px;
}

.schedule {
    position: absolute;
    left: -9999px;
    top: 100%;
    width: 164px;
    height: 70px;
    background-color: #fff;
    border-radius: 5px 0 5px 5px;
    box-shadow: 0 0 10px 0 rgba(23, 59, 117, 0.35);
    padding: 15px 20px;
    font-size: 14px;
    text-align: left;
    z-index: 2;
    margin-top: 20px;
    transition: opacity 0.7s;
    opacity: 0;
}
.schedule__time{
color: #1c5bc3;
font-family: Roboto;
font-size: 14px;
font-weight: 700;
line-height: 25px;
}
.schedule__notwork{
    color: #221f1f;
}
.schedule:before {
    display: block;
    content: "";
    width: 20px;
    height: 20px;
    background: #fff;
    position: absolute;
    top: -10px;
    right: 6px;
    transform: rotate(45deg);
    box-shadow: -3px -3px 3px 0 rgba(23, 59, 117, 0.35);
}

.header-contacts__time:hover .schedule {
    left: initial;
    opacity: 1;
    right: 0;
}

.schedule:after {
    display: block;
    width: 100%;
    height: 20px;
    position: absolute;
    content: "";
    top: -20px;
    right: 0;
}

.saidbar {
    width: 272px;
    margin-right: 25px;
}

.features-item {
    width: 272px;
    text-align: center;
    padding: 29px 33px;
    margin-bottom: 30px;
    border: 1px solid #e8e9ed;
}

.features-item__content {
    width: 100%;
    color: #221f1f;
    align-items: center;
    display: inline-block;
}

.top-tarif {
    color: #221f1f;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 33px;
}

.features-item__content-title {
    color: #212121;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.88px;
    text-align: center;
    margin-bottom: 20px;
}

.features-item__content-desc {
    color: #221f1f;
    ;
    line-height: 30px;
    margin-bottom: 15px;
}

.features-item__content-details {
    line-height: 30px;
    text-align: justify;
}

.features-item__content-details-item {
    margin-bottom: 10px;
    line-height: 35px;
}

.features-item__content-details-item-list:before {
    content: "•";
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    margin-right: 20px;
}

.features-item__content-price {
    color: #212121;
    font-size: 55px;
    font-weight: 400;
}

.sub {
    color: #202020;
    bottom: 0;
    font-size: 60%;
}

.social-networks {
    color: #2d1d1d;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;
}

.social-networks-list {
    display: flex;
    justify-content: center;
}

.social-networks-icon {
    display: flex;
    width: 15px;
    height: 13px;
    margin: 0 10px 0 8px;
    line-height: 100%;
    text-align: center;
    position: relative;
}

.nav-block {
    margin-bottom: 25px;
}

.menu__list {
    display: inline-block;
}

.menu__link {
    color: #1348f5;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;
}

li.menu__item {
    display: inline-block;
    padding: 0 95px 0 0;
}

.menu__link:hover,
.menu__link--active {
    color: #221f1f;
}

.menu__link:before {
    content: "";
    width: 24px;
    height: 18px;
    background-position: center center;
    background: url('./img2/main_icon.png') center center;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    margin-bottom: 2px;
}

.menu__link--main:hover:before,
.menu__link--active.menu__link--main:before {
    background-image: url('./img2/black_1main_icon.png')
}

.menu__link--reviews:before {
    background-image: url('./img2/feed_icon.png')
}

.menu__link--reviews:hover:before,
.menu__link--active.menu__link--reviews:before {
    background-image: url('./img2/black_2feed_icon.png')
}

.menu__link--crew:before {
    background-image: url('./img2/team_icon.png')
}

.menu__link--crew:hover:before,
.menu__link--active.menu__link--crew:before {
    background-image: url('./img2/black_3team_icon.png')
}

.maincontent__container {
    width: 880px;
}

.banner__img {
    max-width: 100%;
    max-height: 100%;
}

.title {
    width: 100%;
    height: 45px;
    color: #221f1f;
    font-size: 49px;
    font-weight: 700;
    line-height: 38px;
    margin-bottom: 39px;
}

.content-list-list {
    display: flex;
}

.content-list-item {
    width: 290px;
    padding: 20px 15px;
}

.content-list {
    margin-top: 30px;
    margin-bottom: 50px;
}

.content-list-item--rew {
    display: flex;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 2px solid #f5f5f5;
}

.avatar {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
    margin: 0 auto;
    margin-bottom: 20px
}

.avatar--rew {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
    margin-right: 23px;
}

.avatar img {
    width: 100%;
    height: 100%;
}

.avatar--rew img {
    width: 100%;
    height: 100%;
}

.desc {
    color: #221f1f;
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
}

.desc-rew {
    color: #221f1f;
    font-size: 18px;
    font-weight: 300;
    line-height: 21px;
}

.date {
    color: #656464;
    font-weight: 300;
    margin-bottom: 10px;
    line-height: 21px;
}

.name {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 10px;
    line-height: 21px;
}

.text--rew {
    font-weight: 300;
    line-height: 30px;
}

.text {
    font-weight: 300;
}

.pagination {
    text-align: center;
    justify-content: center;
    display: flex;
    color: #020202;
    margin-bottom: 60px;
}

.pagination__display {
    color: #656464;
    font-size: 14px;
    font-weight: 300;
    display: inline-block;
    line-height: 32px;
    margin-left: 10px;
    align-items: center;
}

.pagination__prev {
    text-decoration: none;
}

.pagination__item {
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 5px;
}

.pagination__item-link {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    width: 100%;
    height: 100%;
    line-height: 24px;
}

.pagination__next {
    text-decoration: none;
}

.pagination__item a {
    text-decoration: none;
}

a.pagination__prev:link,
.pagination__prev {
    color: #656464;
}

a.pagination__next:link,
.pagination__next {
    color: #000000;
}

.pagination__item-link_active {
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: #4b73b5;
    color: #fff;
}

.pagination__item-link:hover {
    background: #4b73b5;
    border-radius: 5px;
    color: #fff;
}

.pagination__pages {
    color: #221f1f;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    list-style: none;
    padding: 0px;
    margin: 0 10px;
    display: inline-block;
}

.pagination__list {
    color: #000;
    margin-left: 20px;
}

.footer {
    background-color: #4b73b5;
}

.footer .container {
    align-items: center;
    justify-content: space-between;
    height: 77px;
}

.footer-text {
    width: 236px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
}

.footer_text_link {
    text-decoration: none;
    color: #fff;
}

.footer_text_link:hover {
    text-decoration: none;
    color: #1348f5;
}

.school {
    font-weight: 700;
    text-decoration: underline;
}

.avtor_name {
    font-weight: 700;
}

.nav-menu {
    margin-bottom: 28px;
    margin-top: 32px;
}

.nav-menu__list {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 400;
}

.nav-menu__link {
    color: #1c5bc3;
}

.nav-menu__link-second {
    text-decoration: none;
    color: #000;
}

.nav-menu__item {
    display: inline-block;
}

.nav-menu__item:first-child::after {
    display: none;
    content: "/";
    display: inline-block;
    vertical-align: middle;
    color: #221f1f;
}

.booking-questions {
    margin-bottom: 30px;
}

.booking-questions-block {
    background-color: #4b73b5;
    width: 274px;
    color: #ffffff;
}

.booking-questions-block-text {
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    text-align: center;
    padding: 20px 10px;
}

.booking-application {
    font-weight: 700;
    color: #fff;
}
.contacts__phone{
color: #ffffff;
    font-size: 21px;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
}
.booking-application:hover {
    text-decoration: none;
    color: #1348f5;
}

.rewiews {
    font-size: 14px;
    width: 700px;
    background-color: #f5f5f5;
    border-radius: 3px;
    padding: 40px 70px;
    display: block;
    margin: 0 auto 58px;
}

* {
    box-sizing: border-box;
}

.rewiews__content {
    display: flex;
    justify-content: space-between;
}

.rewiews__content-title {
    margin-bottom: 5px;
}

.rewiews__input-text {
    width: 100%;
    height: 45px;
    padding: 15px 10px;
    border: 1px solid transparent;
    border-radius: 3px;
    font-size: 14px;
}

.rewiews__input-text:hover {
    border: 1px solid #4b73b5;
    outline: none;
}

.rewiews__label {
    margin-bottom: 19px;
    font-size: 16px;
}

.rewiews__input {
    width: 270px;
    float: left;
    flex: 1;
    margin-right: 20px;
}

.form__input:last-child {
    margin-right: 0;
}

.rewiews__textarea {
    padding: 10px;
    resize: none;
    height: 90px;
}

.rewiews__textarea-label {
    flex: 1;
}

.button {
    text-align: right;
    border-radius: 5px;
}

.button-sent {
    background-color: #4b73b5;
    width: 150px;
    height: 50px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 700;
    line-height: 50px;
    text-transform: uppercase;
    letter-spacing: 2.4px;
    border-radius: 5px;
    border: 0;
    padding: 0;
}

.button-sent__img {
    width: 15px;
    height: 14px;
    display: inline-flex;
}

.rewiews__radio {
    display: flex;
    position: relative;
    margin-right: 15px;
    align-items: center;
}

.rewiews__radio-input {
    position: absolute;
    left: -9999px;
    top: 0;
}

.rewiews__radio-fake {
    width: 18px;
    height: 18px;
    border: 1px solid #c9c9c9;
    ;
    border-radius: 50%;
    position: relative;
    margin-right: 5px;
}

.rewiews__radio-fake::before {
    content: "";
    width: 0px;
    height: 0px;
    display: block;
    border-radius: 50%;
    background: #4b73b5;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s;
}

.rewiews__radio-input:checked+.rewiews__radio-fake {
    border-color: #4b73b5;
}

.rewiews__radio-input:checked+.rewiews__radio-fake::before {
    width: 8px;
    height: 8px;
}

.crew-contents {
    width: 100%;
    margin-bottom: 50px;
}

.crew__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.c-team__item {
    width: 290px;
    padding: 20px 15px;
}

.team__img-wrap {
    position: relative;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 17px;
}

.team__img-wrap:after {
    content: "";
    background: rgba(75, 115, 181, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.c-team__img {
    object-fit: contain;
    display: block;
    width: 100%;
    height: 100%;
}

.c-team__img-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-weight: 700;
    font-size: 24px;
    z-index: 1;
}

.item-desc {
    width: 100%;
    color: #221f1f;
    align-items: center;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
}

.crew-employee-name {
    font-size: 18px;
    font-weight: 700;
    padding: 0 0 5px;
}

.crew-item__content-title {
    color: #4b73b5;
    font-weight: 700;
    padding: 0 0 10px;
}

.crew-item__content-text {
    font-weight: 300;
}

.content-partner {
    width: 100%;
    margin-bottom: 30px;
    border: 1px solid #e8e9ed;
    padding: 30px 70px;
}

.content-partner__item {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.title--crew {
    margin-bottom: 35px;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    line-height: 38px;
    text-transform: uppercase;
}

/* 
.schedule:before {
    display: block;
    content: "";
    width: 20px;
    height: 20px;
    background: #fff;
    position: absolute;
    top: -10px;
    right: 6px;
    transform: rotate(45deg);
    box-shadow: -3px -3px 3px 0 rgba(23, 59, 117, 0.35);
}

.header-contacts__time:hover .schedule {
    left: initial;
    opacity: 1;
    right: 0;
}

.schedule:after {
    display: block;
    width: 100%;
    height: 20px;
    position: absolute;
    content: "";
    top: -20px;
    right: 0;
} */